* {
  outline: none;
  box-sizing: border-box;
}

:root {
  --body-font: sans-serif;
  --content-bg: rgb(146 151 179 / 13%);
  --theme-bg-color: rgba(16 18 27 / 40%);
  --theme-color: #f9fafb;
  --inactive-color: rgb(113 119 144 / 78%);
  --button-inactive: rgb(249 250 251 / 55%);
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #999ba5;
  --svg-fill: #f7f7f7;
  --dropdown-bg: #21242d;
  --dropdown-hover: rgb(42 46 60);
  --popup-bg: rgb(22 25 37);
  --search-bg: #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1 2 3 / 40%);
  --access-color: #3ea6ff;
  --border-color: rgba(113 119 144 / 25%);
  font-size: 62.5%;
}

.light-mode {
  --theme-bg-color: rgb(255 255 255 / 31%);
  --theme-color: #3c3a3a;
  --inactive-color: #333333;
  --button-inactive: #3c3a3a;
  --hover-menu-bg: rgba(255 255 255 / 35%);
  --content-title-color: --theme-color;
  --svg-fill: #21242d;
  --dropdown-bg: #f7f7f7;
  --dropdown-hover: rgb(236 236 236);
  --popup-bg: rgb(255 255 255);
  --search-bg: rgb(255 255 255 / 31%);
  --overlay-bg: rgb(255 255 255 / 30%);
  --scrollbar-bg: rgb(255 253 253 / 57%);
  --access-color: #065fd7;
  --border-color: rgb(255 255 255 / 35%);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--body-font);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 97vh;
  user-select: none;
}
@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
  }
}

img {
  max-width: 100%;
}

.dark-light {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: var(--dropdown-bg);
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
  height: 40px;
}
.dark-light svg {
  width: 24px;
  flex-shrink: 0;
  fill: #ffce45;
  stroke: #ffce45;
  transition: 0.5s;
}

.light-mode .dark-light svg {
  fill: transparent;
  stroke: var(--theme-color);
}
.light-mode .profile-img {
  border: 2px solid var(--theme-bg-color);
}
.light-mode .content-section ul {
  background-color: var(--theme-bg-color);
}
.light-mode .dropdown.is-active ul {
  background-color: rgba(255, 255, 255, 0.94);
}

body.light-mode:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.72) 0%,
    rgba(255, 255, 255, 0.45) 100%
  );
  backdrop-filter: saturate(3);
}

.app {
  background-color: var(--theme-bg-color);
  max-width: 1250px;
  max-height: 860px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0 30px;
  white-space: nowrap;
}
@media screen and (max-width: 480px) {
  .header {
    padding: 0 16px;
  }
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu h1 {
  color: var(--theme-color);
  margin: 0 30px 0 0;
}
.header-menu a {
  padding: 20px 30px;
  text-decoration: none;
  color: var(--inactive-color);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
.header-menu input,
.header-menu select { 
  background: var(--dropdown-bg);
  border: none;
  border-radius: 6px;
  padding: 6px;
  color: var(--theme-color);
  margin-left: 10px;
}
@media screen and (max-width: 610px) {
  .header-menu a:not(.main-header-link) {
    display: none;
  }
}
.header-menu a.is-active,
.header-menu a:hover {
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
}

@media screen and (max-width: 1055px) {
  .notify {
    display: none;
  }
}

.menu-circle {
  width: 15px;
  height: 15px;
  background-color: #f96057;
  border-radius: 50%;
  box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
  margin-right: 195px;
  flex-shrink: 0;
}
@media screen and (max-width: 945px) {
  .menu-circle {
    display: none;
  }
}

.search-bar {
  height: 40px;
  display: flex;
  width: 100%;
  max-width: 500px;
  padding-left: 16px;
  border-radius: 4px;
}
.search-bar.fit {
  margin-left: auto;
  margin-right: 10px;
}
.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--search-bg);
  border-radius: 4px;
  font-family: var(--body-font);
  font-size: 15px;
  font-weight: 500;
  padding: 0 20px 0 40px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 16px 48%;
  color: var(--theme-color);
}
.search-bar input::placeholder {
  font-family: var(--body-font);
  color: var(--inactive-color);
  font-size: 15px;
  font-weight: 500;
}

.header-profile {
  display: flex;
  align-items: center;
  padding: 0 16px 0 40px;
  margin-left: auto;
  flex-shrink: 0;
}
.header-profile a {
  text-decoration: none;
}
.header-profile.fit {
  padding: 0;
  margin-left: 0;
}
.menu-circle.fit {
  margin-right: 105px;
}
.header-profile .access > button {
  color: var(--access-color);
  padding: 4px 7px;
  width: 135px;
  border-radius: 30px;
  border: 1px var(--border-color) solid;
  background: none;
  outline: none;
  font-family: var(--body-font);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  cursor: pointer;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--theme-color);
  margin-left: 22px;
}
.logout {
  margin-left: 10px;
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  color: var(--svg-fill);
  flex-shrink: 0;
}
.wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.left-side {
  flex-basis: 240px;
  border-right: 1px solid var(--border-color);
  padding: 26px;
  overflow: auto;
  flex-shrink: 0;
}
@media screen and (max-width: 945px) {
  .left-side {
    display: none;
  }
}

.side-wrapper + .side-wrapper {
  margin-top: 20px;
}

.side-title {
  color: var(--inactive-color);
  margin-bottom: 14px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.side-menu a {
  text-decoration: none;
  color: var(--theme-color);
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  transition: 0.3s;
}
.side-menu a:hover {
  background-color: var(--hover-menu-bg);
}
.side-menu svg {
  width: 16px;
  margin-right: 8px;
}

.updates {
  position: relative;
  top: 0;
  right: 0;
  margin-left: auto;
  width: 18px;
  height: 18px;
  font-size: 11px;
}

.main-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: 53px;
  flex-shrink: 0;
}
@media screen and (max-width: 1055px) {
  .main-header .header-menu {
    margin: auto;
  }
}
.main-header .header-menu a {
  padding: 17px 24px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

#button {
  width: 300px;
  height: 300px;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 100%;
  background-color: cadetblue;
  margin: auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  color: var(--theme-color);
  padding: 0 40px;
  height: 100%;
  overflow: auto;
  background-color: var(--theme-bg-color);
}

@media screen and (max-width: 510px) {
  .content-wrapper {
    padding: 20px;
  }
}
.content-wrapper.overlay {
  pointer-events: none;
  transition: 0.3s;
  background-color: var(--overlay-bg);
}

.overlay-app {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: all;
  background-color: rgba(36, 39, 59, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.overlay-app.is-active {
  visibility: visible;
  opacity: 1;
}

.content-button {
  background-color: #3a6df0;
  border: none;
  padding: 8px 26px;
  color: #fff;
  border-radius: 20px;
  margin-top: 16px;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
}

.modal-medico {
  background-color: var(--popup-bg);
  border: 1px solid var(--theme-bg-color);
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 50%;
  min-width: 450px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  border-radius: 14px;
  padding: 1rem;
  transition: opacity 0.5s;
  width: 742px;
  height: 519px;
  overflow-y: scroll;
}
.modal-medico .header-menu {
  justify-content: space-between;
}
.modal-medico .header-menu span {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
  color: var(--theme-color);
}
.modal-medico .close-button {
  color: var(--theme-color);
  padding: 1rem;
  opacity: 0.7;
  cursor: pointer;
  display: flex;
}
.modal-medico .container {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--theme-color);
}
.modal-medico .container .nombre {
  font-size: 2rem;
}
.modal--show {
  opacity: 1;
  pointer-events: unset;
}
.login-form {
  background-color: var(--popup-bg);
  border: 1px solid var(--theme-bg-color);
  display: flex;
  flex-direction: column;
  min-width: 450px;
  margin: auto;
  border-radius: 14px;
  transition: opacity 0.5s;
  padding: 1rem;
}
.login-form .header-menu {
  padding: 1rem 0;
}
.login-form .header-menu span {
  font-size: 2rem;
  color: var(--theme-color);
}
.login-form label {
  color: var(--theme-color);
  font-size: 1.5rem;
}
.login-form input {
  font-size: 1.6rem;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--popup-bg);
  border: none;
  color: var(--theme-color);
  font-family: var(--body-font);
  border-radius: 5px;
}
.login-form button {
  margin-top: 5px;
  color: var(--access-color);
  padding: 4px 26px;
  border-radius: 30px;
  border: 1px var(--border-color) solid;
  background: none;
  outline: none;
  font-family: var(--body-font);
  font-size: 15px;
  margin-left: auto;
  font-weight: 600;
  cursor: pointer;
}

.close-button:hover {
  opacity: 1;
}

.content-section {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-section table {
  background-color: var(--content-bg);
  border-radius: 14px;
  table-layout: fixed;
  width: 100%;
  border: 1px solid var(--theme-bg-color);
  border-spacing: 0; /* Removes the cell spacing via CSS */
  margin: 2rem 0;
}
.content-section table tr {
  text-align: left;
  transition: 0.3s;
}
.content-section ul ul.dropdown-list li {
  padding: 0 18px;
}
.content-section ul li.dropdown-create .status-button {
  background-color: #00993d;
}
.content-section ul ul.dropdown-list {
  display: none;
}
.content-section ul li.dropdown-create {
  display: none;
}
.content-section ul li.is-active + li.dropdown-create {
  display: block;
}
.content-section ul li.is-active + ul.dropdown-list + li.dropdown-create {
  display: block;
}
.content-section table tr:last-child .status-button {
  padding: 6px 17px;
}
.content-section ul .form-create {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 100%;
  list-style: none;
}
.content-section ul form button[type="reset"] {
  position: relative;
  height: 28px;
  width: 34px;
  display: flex;
  left: 6px;
  color: #a7a3b4;
  background: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
}
.content-section ul form input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
}
.content-section table tr:last-child button[type="reset"] {
  position: relative;
  height: 28px;
  width: 34px;
  display: flex;
  left: 6px;
  color: #a7a3b4;
  background: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
}
.content-section table td,
.content-section table th {
  padding: 10px 18px;
}
.content-section table th {
  border-bottom: 1px solid var(--border-color);
}
.content-section table tr:hover {
  background-color: var(--theme-bg-color);
}
.content-section table input {
  font-family: var(--body-font);
}
.content-section table input[type="text"],
.content-section table input[type="email"],
.content-section table input[type="password"] {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
}
.content-section table input[type="number"] {
  width: calc(100% + 15px);
  background-color: transparent;
  border: none;
  color: white;
}
.content-section table select {
  border-radius: 5px;
  width: 100%;
  background-color: #394167;
  border: none;
  padding: 6px;
  font-family: var(--body-font);
  color: white;
}
.content-section ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  background-color: var(--content-bg);
  padding-left: 0;
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  cursor: pointer;
}

.content-section ul li {
  list-style: none;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition: 0.3s;
}
.content-section ul li a {
  text-decoration: none;
  color: white;
}
.content-section ul .dropdown-list {
  display: none;
  padding: 0;
  border-radius: 0;
}
.content-section ul .dropdown-list table {
  margin: 0;
  border-radius: 0;
  border: none;
}
.content-section ul .dropdown-list li {
  padding: 0;
}
.content-section ul .dropdown-list a {
  padding: 10px 18px;
  width: 100%;
  height: 100%;
}
.content-section ul li.is-active + ul {
  display: flex;
}
.content-section ul li:hover {
  background-color: var(--theme-bg-color);
}
.content-section ul li:hover:first-child {
  border-radius: 13px 13px 0 0;
}
.content-section ul li:hover:last-child {
  border-radius: 0 0 13px 13px;
}
.content-section ul li + li {
  border-top: 1px solid var(--border-color);
}
.content-section ul svg {
  width: 28px;
  border-radius: 6px;
  margin-right: 16px;
  flex-shrink: 0;
}
.content-section .ficha-medica {
  background-color: var(--search-bg);
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 30px;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.content-section .ficha-medica input {
  font-size: 1.6rem;
  padding: 5px;
  margin-bottom: 10px;
  background-color: var(--content-bg);
  border: none;
  color: var(--theme-color);
  font-family: var(--body-font);
  border-radius: 5px;
}
.content-section .ficha-medica input[type="checkbox"] {
  margin-right: 10px;
}
.content-section .ficha-medica .info {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 0 10px;
}
.content-section .ficha-medica button {
  margin-top: 5px;
  color: var(--access-color);
  padding: 4px 26px;
  width: 100%;
  border-radius: 30px;
  border: 1px var(--border-color) solid;
  background: none;
  outline: none;
  font-family: var(--body-font);
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}
.content-section .ficha-medica span {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.content-section .ficha-medica .diseases {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 0 10px;
}
.content-section .ficha-medica .diseases .bloque {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.content-section .ficha-medica .diseases label {
  font-size: 1.6rem;
  display: flex;
  width: 115px;
  white-space: nowrap;
}
.content-section .time-select {
  width: 100%;
  background: var(--dropdown-bg);
  border: none;
  border-radius: 6px;
  padding: 6px;
  color: var(--theme-color);
  margin-top: 10px;
}
.alerts {
  display: flex;
  align-items: center;
  width: 100%;
}
.alerts strong {
  width: 100px;
  margin-right: 10px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .alerts {
    width: 120px;
  }
}

.status {
  margin-left: auto;
  width: 130px;
  font-size: 15px;
  position: relative;
}
@media screen and (max-width: 700px) {
  .status {
    display: none;
  }
}
.status-circle {
  width: 6px;
  height: 6px;
  background-color: #396df0;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: -20px;
}
.status-circle.green {
  background-color: #3bf083;
}
.status-circle.red {
  background-color: #ff0000;
}
.status-button {
  font-size: 15px;
  margin-top: 0;
  padding: 6px 24px;
}
@media screen and (max-width: 390px) {
  .status-button {
    padding: 6px 14px;
  }
}
.status-button.open {
  background: none;
  color: var(--button-inactive);
  border: 1px solid var(--button-inactive);
}
.status-button:not(.open):hover {
  color: #fff;
  border-color: #fff;
}

.content-button:not(.open):hover {
  background: #1e59f1;
}

.menu {
  width: 5px;
  height: 5px;
  background-color: var(--button-inactive);
  border-radius: 50%;
  box-shadow: 7px 0 0 0 var(--button-inactive),
    14px 0 0 0 var(--button-inactive);
  margin: 0 12px;
}

@media screen and (max-width: 415px) {
  .adobe-product .menu {
    display: none;
  }
}
.dropdown {
  position: relative;
  height: 30px;
  width: 30px;
  top: -14px;
  display: flex;
  left: -5px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.dropdown ul {
  position: absolute;
  background: var(--dropdown-bg);
  height: fit-content;
  width: 120px;
  right: 0;
  top: 20px;
  pointer-events: none;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s ease;
}
.dropdown ul li a,
.dropdown-notify ul li a {
  text-decoration: none;
  color: var(--theme-color);
  font-size: 12px;
}

.dropdown.is-active ul,
.dropdown-notify.is-active ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
.dropdown.is-active ul li:hover,
.dropdown-notify.is-active ul li:hover {
  background-color: var(--dropdown-hover);
  border-radius: 13px;
}

.button-wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .button-wrapper {
    width: auto;
  }
}

.content-section .close {
  margin-right: 0;
  width: 24px;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
